* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}


body {
   
    background-image: url('kuvat/modern-minimalist-bathroom-3115450_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    letter-spacing: 0.18rem;
    color:#fff;
    text-shadow: 1px 1px 2px #000;
    font-size: 1.6rem;
}

a:hover {
   color: rgb(211, 215, 211);
}

/* Header */

header{
    position: relative;
    padding: 0 2rem;
    
}

.navbar {
    width: 100%;
    height: 3.8rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .navbar .logo a {
   font-size: 2.6rem;
   color:#fff;
 }

 .navbar .links {
    
    display: flex;
    gap: 2rem;
 }

 .navbar .toggle_btn {
    color: #6a6f80;
    font-size: 2.0rem;
    cursor: pointer;
    display: none; 
 }

 p {
   font-size: 1.8rem;
   text-shadow: 1px 1px 2px #000;
   color:#e7eef9;
   letter-spacing: 0.1rem;
   display: flex;
   justify-content: center;
   padding-top: 2.2rem
    
 }

 .action_btn {
    background-color: rgb(235, 239, 240);
    color: rgb(17, 17, 17);
    letter-spacing: 0.18rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: scale 0.6 ease;
    text-shadow: none;
 }

 .action_btn:hover {
    scale: 1.05;
    color: #3966f9;
   
 }

 .action_btn:active {
    scale: 0.95;
 }
  
 /* Dropdown Menu*/

 .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba (255, 255, 255, 0.3);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    overflow: hidden; 
    z-index: 100;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }


 .dropdown_menu.open {
    height: 17.8rem;
    visibility: visible;

 }

 .dropdown_menu li {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
 }

 /* Hero */ 
 main {
    position: relative;
    min-height: calc(100vh - 3.6rem);
    display: flex;
    padding-top: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
   
    
 }

    h1 {
    font-size: 2rem;
    padding-bottom: 14px;
    border-radius: 4px;
    color:#fff;
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px 2px #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

 }

 h2 {
   text-shadow: 1px 1px 2px #000;
   text-align: center;
   padding-top: 10px;
 }

 h3 {
   margin-top: 10px;
   text-shadow: 1px 1px 2px #000;
 }

 /* Footer */



.footer {
   
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 6rem;           
   overflow: hidden;
 }
   
  
 

 .footer .social {
   text-align: center;
   
 }

 .footer .social a {
   font-size: 1.2rem;
   width: 1.2rem;
   height: 1.2rem;
   line-height: 1.2rem;
   display: inline-block;
   text-align: center;
   margin: 0 1rem;
  

 }

 .footer .social a:hover {
   opacity: 0.9;
 }


.footer ul {
   margin-top: 0;
   padding: 0;
   list-style: none;
   font-size: 1.2rem;
   line-height: 1.6;
   margin-bottom: 0;
   text-align: center;

}

.footer ul li a {
   
   text-decoration: none;
   opacity: 0.9;
}

.footer ul li {
  display: inline-block;
  padding: 0 1.1rem;
}

.footer ul li a:hover {
   opacity: 1;
}

.footer .copyright {
 
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.footer .copyright .mail  {
   text-align: center;
   margin-top: 1px;
}

 /* Responsive desing */

  @media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
 }

 @media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
 }  
 
  